<h1>Contact Us</h1>

<form [formGroup]="messageForm" (ngSumbit)="onSumbit()">
  
  <h5 *ngIf="success">Your form is valid!</h5>

  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your name is required bro</div>
    </div>
  </label>

  <label>
    Message:
    <input type="text" formControlName="message">
    <div *ngIf="submitted && messageForm.controls.message.errors" class="errors">
      <div *ngIf="messageForm.controls.message.errors.required">Please type in a message, man! We need it</div>
    </div>
  </label>

  <button (click)="onSubmit()">Send Message</button>

</form>

<div *ngIf="submitted" class="">
  <strong>Name:</strong>
  <span>{{ messageForm.controls.name.value }}</span>
</div>

<div *ngIf="submitted" class="">
  <strong>Message:</strong>
  <span>{{ messageForm.controls.message.value }}</span>
</div>